
<script src="/assets/js/bootstrap.min.js"></script>
<script src="/assets/js/typeahead-bs2.min.js"></script>
<script type="text/javascript" src="/assets/page/js/htmlBuilder.js"></script>
<!-- page specific plugin scripts -->

<!-- ace scripts -->

<script src="/assets/js/ace-elements.min.js"></script>
<script src="/assets/js/ace.min.js"></script>
<script src="/assets/js/date-time/bootstrap-datepicker.min.js"></script>
<script src="/assets/js/date-time/bootstrap-datetimepicker.min.js"></script>
<script src="/assets/js/date-time/bootstrap-datetimepicker.fr.js"></script>


<!-- jquery表单验证 -->
<script src="/assets/js/jquery.validate.min.js"></script>
<script src="/assets/js/validate/messages_cn.js"></script>
<!-- 分页 -->
<script src="/assets/page/js/jqPaginator.js"></script>