<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Easy Config</title>
    <link href="/assets/page/img/logo-24.png" rel="icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- basic styles -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    
    <!-- ace styles -->

    <link rel="stylesheet" href="/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="/assets/css/ace-skins.min.css" />
	<link rel="stylesheet" href="/assets/css/datepicker.css" />
	<link rel="stylesheet" href="/assets/css/bootstrap-datetimepicker.min.css" />
    <!-- inline styles related to this page -->
	<link rel="stylesheet" href="/assets/css/console.css" />
	<link rel="stylesheet" href="/assets/page/css/console.css" />
	
    <!-- ace settings handler -->
    <script src='/assets/js/jquery-2.0.3.min.js' ></script>
    <script src="/assets/js/ace-extra.min.js"></script>
    
    <script src="/assets/page/js/common.js?20180210"></script>
    <script src='/assets/js/layer/layer.js' ></script>
</head>
<script type="text/javascript">
	//设置js中的serviceName变量
	serviceName='';
</script>