<span th:replace="./inc/head.html" ></span>
<body>
	<span th:replace="./inc/top.html" ></span>
	<div class="main-container" id="main-container">
		<div class="main-container-inner">
			<span th:replace="./inc/siderbar.html" ></span>
			<div class="ace-settings-container" id="ace-settings-container">
				<div class="btn btn-app btn-xs btn-warning ace-settings-btn"
					id="ace-settings-btn">
					<i class="icon-cog bigger-150"></i>
				</div>
				<div class="ace-settings-box" id="ace-settings-box">
					<div>
						<span><a href="javascript:void(0)"
							onclick="openAddTask();">添加</a></span>
					</div>
				</div>
			</div>
			<div class="main-content">
				<div class="search">
					<div class="form-group">
						<div class="col-sm-3">
							<span class="control-label search-label">任务名称：</span> <input
								type="text" id="taskName" placeholder="模糊查询"
								class="col-xs-6 col-sm-6" />
						</div>
						<div class="col-sm-3">
							<span class="control-label search-label">平台名称：</span> <input
								type="text" id="platform" placeholder="模糊查询"
								class="col-xs-6 col-sm-6" />
						</div>
					</div>
					<button class="btn btn-xs btn-info" onclick="doSearch()">搜索</button>
				</div>
				<div class="page-content">
					<br />
					<div class="row col-xs-12">
						<table id="sample-table-1"
							class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>任务名称</th>
									<th>备注</th>
									<th>接口</th>
									<th>计划执行时间</th>
									<th>执行频率</th>
									<th>单位</th>
									<th>上次执行时间</th>
									<th>运行状态</th>
									<th>是否启用</th>
									<th>创建时间</th>
									<th>操作</th>
								</tr>
							</thead>

							<tbody>
								<tr style="display: none;" class="node_row">
									<td>$[taskName]</td>
									<td>$[comment]</td>
									<td style="white-space:normal; word-break:break-all;">$[url]</td>
									<td>$[planExecuteTime]</td>
									<td>$[planExecuteFrequency]</td>
									<td script="true">
										getTimeUnit($[timeUnit])
									</td>
									<td script="true">
										getLastExecuteTime('$[planExecuteTime]','$[lastExecuteTime]')
									</td>
									<td script="true">
										getRunStatus($[runStatus])
									</td>
									<td script="true">
										getEnableStatus(1,$[enableFlag])
									</td>
									<td>$[createTime]</td>
									<td>
										<a href="javascript:void(0)" onclick="openEditTask($[id])">修改</a>
										<a href="javascript:void(0)" onclick="deleteTask($[id])">删除</a>
										<a href="javascript:void(0)" onclick="updateTaskStatus($[id])" script="true">
											getEnableStatus(2,$[enableFlag])
										</a>
										<a href="javascript:void(0)" onclick="executeTask($[id])">执行</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /row -->
					<div class="row">
						<div class="col-xs-12">
							<div>
								<ul class="pagination" id="pagination"></ul>
							</div>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content -->
			</div>
			<!-- /.main-content -->
		</div>
		<!-- /.main-container-inner -->

	</div>
	<!-- /.main-container -->

	<span th:replace="./inc/footer.html" ></span>

	<script type="text/javascript">
	var pager;
	var currentPage=1;
		$(function() {
			listData(1);
		});

		function doSearch() {
			pager = null;
			listData(1);
		}

		function doSearchCurrentPage(){
			listData(currentPage);
		}
		
		function listData(currentPage) {
			var taskName = $('#taskName').val();
			var platform = $("#platform").val();
			sajax({
				type : "POST",
				url : '/task/listTaskData',
				data : {
					currentPage : currentPage,
					taskName : taskName,
					platform : platform
				},
				dataType : 'json',
				success : function(page) {
							buildHtmlWithJsonArray('node_row', page.result,false, false);
							if (pager == null) {
								pager = createPager('#pagination', page.totalPage,function(num, type) {
									currentPage=num;
									listData(currentPage);
								});
							}
				}
			});
		}

		function openAddTask() {
			layer.open({
				type : 2,
				title : '添加任务',
				shade : 0.5,
				area : [ '50%', '580px' ],
				content : '/task/addTask',
				cancel : function(index) {
					listData(curResult);
				}
			});
		}

		function openEditTask(id) {
			layer.open({
				type : 2,
				title : '编辑任务',
				shade : 0.5,
				area : [ '50%', '580px' ],
				content : '/task/editTask?id=' + id,
				cancel : function(index) {
					listData(curResult);
				}
			});
		}
		
		function executeTask(id) {
			sajax({
				type : "POST",
				url : "/task/executeTask?id=" + id,
				data : {
					"id" : id
				},
				success:function(data) {
					listData(curResult);
					layer.msg('执行成功');
				}
			});
		}
		
		function updateTaskStatus(id) {
			sajax({
				type : "POST",
				url :  "/task/doUpdateTaskStatus?id=" + id,
				data : {
					"id" : id
				},
				successs: function(data) {
					listData(curResult);
					layer.msg('操作成功');
				}
			});
		}

		function deleteTask(id) {
			layer.confirm('确定要删除该条数据吗？', {
				btn : [ '是', '否' ]
			//按钮
			}, function() {
				//yes
				sajax({
					type : "POST",
					url :  "/task/deleteTask?id=" + id,
					data : {
						"id" : id
					},
					success: function(data) {
						listData(curResult);
						layer.msg('删除成功');
					}
				});
			}, function() {
				//no
			});
		}
		
		function getRunStatus(status) {
			if(status == 1) return "<font color='green'>运行中...</font>";
			return "<font color='red'>等待</font>";
		}
		
		function getEnableStatus(flag,status) {
			if(flag == 1) {
				if(status) return "<font color='green'>是</font>";
				return "<font color='red'>否</font>";
			}
			if(flag == 2) {
				if(status) return "禁用";
				return "启用";
			}
		}
		
		function getLastExecuteTime(planTime,lastTime) {
			if(planTime != lastTime) {
				return lastTime;
			}
			return "";
		}
		function getTimeUnit(timeUnit) {
			if(timeUnit == 2) {
				return "分钟";
			}else if(timeUnit == 3) {
				return "小时";
			}else if(timeUnit == 4) {
				return "天";
			}else if(timeUnit == 5) {
				return "月";
			}
			return "秒";
		}
	</script>
</body>
</html>

