<span th:replace="./inc/head.html" ></span>
<div class="modal-content">
	<div class="modal-body">
		<form id="form" class="form-horizontal">
			<div class="form-group">
				<span class="col-sm-3 control-label no-padding-right"><span class="red">*</span>账号：</span>
				<div class="col-sm-9">
					<input type="text" desc="账号" name="username"  class="col-xs-10 col-sm-5" />
				</div>
			</div>
			<div class="form-group">
				<span class="col-sm-3 control-label no-padding-right"><span class="red">*</span>姓名：</span>
				<div class="col-sm-9">
					<input type="text" desc="姓名" name="fullname"  class="col-xs-10 col-sm-5" />
				</div>
			</div>
			<div class="form-group">
				<span class="col-sm-3 control-label no-padding-right"><span class="red">*</span>邮箱：</span>
				<div class="col-sm-9">
					<input type="text" desc="邮箱" name="email"  class="col-xs-10 col-sm-5" />
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" id="item_submit"   onclick="doSave()" class="btn btn-primary">
			保存</button>
	</div>
</div>
<span th:replace="./inc/footer.html" ></span>
<script type="text/javascript">

function doSave(){
	// todo,输入检查
	var data = $('#form').serialize();
	sajax({
		type : "POST",
		url : "/user/doAddUser",
		data : data,
		dataType : 'json',
		success : function(data) {
			layer.msg('保存成功');
			closeWindowAndRefreshParentCurrentPage();
		}
	});
}
</script>