<span th:replace="./inc/head.html" ></span>
<body>
<div class="main-container" id="main-container">
	<div class="main-container-inner">
		<div class="">
			<div class="page-content">
				<div class="row">
					<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div class="error-container">
									<div class="well">
										<h1 class="grey lighter smaller center">
											<span class="blue bigger-125">
												<i class="ace-icon icon-warning-sign"></i>
												Nooo 
											</span>
											无权访问
										</h1>
									</div>
								</div>

								<!-- PAGE CONTENT ENDS -->
							</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.page-content -->
		</div>
		<!-- /.main-content -->
	</div>
	<!-- /.main-container-inner -->

</div>
<!-- /.main-container -->

<span th:replace="./inc/footer.html" ></span>
<script type="text/javascript">
</script>
</body>
</html>

