<span th:replace="./inc/head.html" ></span>
<body>
	<div class="main-container" id="main-container">
		<div class="main-container-inner">
			<div class="main-content">
				<div class="page-content">
					<div>工程：[[${projectName}]] &nbsp;&nbsp;&nbsp;&nbsp; 环境：[[${envName}]]</div>
					<br />
					
					<div class="row col-xs-12">
						<table id="sample-table-1"
							class="table table-striped table-bordered table-hover">
							<thead>
								<tr>
									<th>id</th>
									<th>环境</th>
									<th>版本号</th>
									<th>创建时间</th>
									<th>操作</th>
								</tr>
							</thead>

							<tbody>
								<tr style="display: none;" class="node_row">
									<td>$[id]</td>
									<td>$[envName]</td>
									<td>$[version]</td>
									<td>$[createTime]</td>
									<td>
										<a href="javascript:void(0)" onclick="deleteConfigHistory($[id])">删除</a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<!-- /row -->
					<div class="row">
						<div class="col-xs-12">
							<div>
								<ul class="pagination" id="pagination"></ul>
							</div>
						</div>
						<!-- /.col -->
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content -->
			</div>
			<!-- /.main-content -->
		</div>
		<!-- /.main-container-inner -->

	</div>
	<!-- /.main-container -->

	<span th:replace="./inc/footer.html" ></span>

	<script type="text/javascript">
	var pager;
	var currentPage=1;
		$(function() {
			listData(1);
		});

		function doSearch() {
			pager = null;
			listData(1);
		}

		function doSearchCurrentPage(){
			listData(currentPage);
		}
		
		function listData(currentPage) {
			sajax({
				type : "POST",
				url : '/configHistory/listConfigHistoryData',
				data : {
					currentPage : currentPage,
					configId : [[${configId}]]
				},
				dataType : 'json',
				success : function(page) {
							buildHtmlWithJsonArray('node_row', page.result,false, false);
							if (pager == null) {
								pager = createPager('#pagination', page.totalPage,function(num, type) {
									currentPage=num;
									listData(currentPage);
								});
							}
				}
			});
		}
		
		function deleteConfigHistory(id) {
			layer.confirm('确定要删除该条数据吗？', {
				btn : [ '是', '否' ]
			//按钮
			}, function() {
				//yes
				sajax({
					type : "POST",
					url :  "/configHistory/deleteConfigHistory?id=" + id,
					data : {
						"id" : id
					},
					success: function(data) {
						listData(currentPage);
						layer.msg('删除成功');
					}
				});
			}, function() {
				//no
			});
		}
	</script>
</body>
</html>

